PORT = 8081
NODE_ENV = 'development'

#DATABASE
DB_URI = "mongodb://localhost:27017/team_12"

#EMAIL
SMTP_HOST = "smtp"
SMTP_SERVICE = 'gmail'
SMTP_PORT = 465
SMTP_USER = "your email"
SMTP_PASS = "your pass"


#CLOUDINARY
CLOUDINARY_CLOUD_NAME = 'your cloudinary name'
CLOUDINARY_API_KEY = 'your cloudinary api key'
CLOUDINARY_API_SECRET = 'your cloudinary api secret'


#JWT
JWT_SECRET = "Use random characters"
JWT_EXPIRY = "7d"


#cookie expiry
COOKIE_EXPIRY  = 7
